---
import Layout from "layouts/Layout.astro";
import isUserAuthenticated from "helpers/isUserAuthenticated"
import Profile from "components/profile"
import getUser from "databases/functions/getUser";

const { username } = Astro.params;
const session = await isUserAuthenticated(Astro)

let user = null

if (session && session.username.toLowerCase() === username?.toLowerCase()) {
  user = session
}

else {
  if (username) {
    const { data } = await getUser(username.toLowerCase());

    if (data) user = data
  }
}
---

<Layout user={session}>
  {
    user
      ? <Profile user={user}/>
      : <h1>No user found</h1>
  }
</Layout>