---
import Layout from "layouts/Layout.astro"
import Home from "components/home/index"
import isUserAuthenticated from "helpers/isUserAuthenticated"
import allUsers from "helpers/allUsers";

const user = await isUserAuthenticated(Astro)

const { error, data } = await allUsers();
---

<Layout title="Home" user={user}>
  {
    error && (
      <h2>{error}</h2>
    )
  }

  {
    data && (
      <Home
        user={user}
        users={data as Array<any>}
      />
    )
  }
</Layout>