---
  import Content from "./Content.astro"
  const { title } = Astro.props
---

<html>
  <head>
    <title>{!title ? "No Title" : title}</title>
    <link href="/favicon.ico" rel="icon"/>
  </head>

  <body class="iw-bg-stone-900 iw-text-white">
    <Content>
      <slot/>
    </Content>
  </body>
</html>