---
import Content from "./Content.astro"
import Header from "../components/header/Header"
import MetaDefault from "./MetaDefault.astro";
const { title, user } = Astro.props
---

<html>
  <head>
    <MetaDefault
      title={title}
    />
  </head>

  <body class="iw-bg-stone-900 iw-text-white">
    <Header user={user} client:load/>
    <Content>
      <slot/>
    </Content>
  </body>
</html>